@charset "utf-8";

body {
  margin: 0;
  padding-top: 157.5px;
  font-size: 0.9em !important;
}

ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

a {
  color: rgb(255, 251, 251) !important;
  text-decoration: none !important;
  cursor: pointer;
}

button {
  cursor: pointer;
}

p {
  margin: 0;
}

.wrap {
  overflow: hidden;
  min-width: 1400px;
  background-color: rgb(27, 27, 27);
}

/* ---------------헤더--------------------- */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
  background-color: rgb(27, 27, 27);
}

.hide-nav {
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  color: white;
  text-align: center;
  background-color: white;
  transition: top 0.5s;
}

.h-nav {
  width: 1100px;
  margin: 0 auto;
}

.hnav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}
.hnav-logo a {
  background-image: url(../images/EZENBOX.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 300px;
  height: 80px;
}

.hnav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 15px 0;
}
.hnav-menu a {
  color: white !important;
  font-size: 15px;
  font-weight: 550;
  margin: 0px 30px;
}
.hnav-menu a:hover {
  color: rgb(0, 107, 85) !important;
}
.hnav-side {
  color: rgb(209, 209, 209);
  height: 30px;
  font-size: 12px;
  font-weight: 600;
  padding-top: 10px;
}

.side-left {
  float: left;
}

.side-right {
  float: right;
}

.side-left a {
  margin-right: 17px;
}

.side-right a {
  margin-left: 17px;
}

.side-right a:hover,
.side-left a:hover {
  color: rgb(189, 189, 189) !important;
}

/* -----------------메인--------------------- */

.nowtb {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.nowtext {
  color: white;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  width: 250px;
  text-align: center;
  border-bottom: 1px solid rgb(59, 59, 59);
}

.playing-setup {
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.playing-pull {
  width: 1100px;
  margin: 0 auto;
}

.top-box {
  color: rgba(255, 255, 255);
  font-weight: 540;
  font-size: 15px;
}

.top-box > div:nth-child(1) {
  margin-top: 10px;
  margin-bottom: 8px;
}

.play-datevotebox {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: rgb(189, 189, 189);
}

.play-datevotebox > div:nth-child(2) {
  color: white;
}

.up-line {
  border-bottom: 3px solid rgb(0, 107, 85);
}

.tt66 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
  opacity: 1 !important;
}

/* .tt66 > p:hover {
  opacity: none !important;
} */

.tt66 p:nth-child(1) {
  color: rgba(255, 255, 255);
  font-size: 20px;
  border: none;
  background-color: rgba(0, 107, 85, 0.7);
}

.tt66 p:nth-child(1) a {
  padding: 10px;
  display: block;
}

.top1-4 img {
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 230px;
  height: 330px;
}

.top-aimg:hover .tt66 {
  display: block;
  z-index: 120;
}
.top-aimg:hover {
  /* background-color: rgba(0, 0, 0, 0.8); */
  z-index: -99;
  opacity: 0.4;
}

.top1-4 {
  position: relative;
}

.more {
  width: 1100px;
  height: 35px;
  display: flex;
  margin: 40px auto;
  justify-content: center;
  align-items: center;
  color: rgb(148, 148, 148);
  border: 1px solid rgb(72, 72, 72);
  background-color: RGB(27, 27, 27);
  font-size: 14px;
  overflow: hidden;
}

.hidesetup {
  display: none;
}

.hidesetup2 {
  display: none;
}

/* -----푸터------ */
footer {
  margin: 0 auto;
  width: 100%;
  background-color: rgb(27, 27, 27);
  border-top: solid 0.5px rgba(190, 189, 189, 0.705);
}

.footer-wr {
  margin: 0 auto;
  width: 100%;
  display: flex;
  padding-top: 55px;
  padding-bottom: 35px;
}

.footer-ulwrap {
  margin: 0 auto;
  width: 1100px;
}
.footer-ul {
  margin: 0 auto;
  width: 1100px;
}
.footer-li {
  list-style: none;
  font-size: 12px;
  color: rgb(165, 165, 156);
}
.footer-img {
  float: right;
}

.footer-span {
  padding: 0 10px;
  border-right: 1px solid rgba(209, 209, 209, 0.801);
}

.footer-p {
  margin: 0 auto;
  padding: 3px 0;
}

.footer-divimg {
  display: flex;
}
